html, body, #wrapper{
	margin: 0px;
	padding: 0px;
	border: 0px;
	text-align: center;
	scroll-behavior: initial;
}

#wrapper.joined{
	text-align: start;
}

#wrapper #join-wrapper{
	padding: 0px 8px;
}

#wrapper #join-wrapper input[type=text]{
	width: 30%;
}

#wrapper #join{
	position: absolute;
	padding: 13px;
	margin: 0px 4px;
}

#wrapper h1, #wrapper h2, #wrapper h3, #wrapper h4, #quickchat-header{
	margin: 0px;
	padding: 8px;
}

#wrapper #header, #wrapper #actions{
	width: 100%;
	height: auto;
	box-shadow: 0px 0px 5px var(--shadow-color);
	position: sticky;
	z-index: 1;
	background-color: var(--primary-color);
	padding: 2px 2px;
}

#wrapper #header{
	top: 91px;
}

#wrapper #messages{
	padding: 0px 2px;
}

#wrapper #actions{
	bottom: 8px;
}

#msg{
	resize: none;
	height: 6em;
	width: calc(100% - 30px);
	padding: 10px 10px;
	margin: 2px 2px;
}

.user{
	display: flex;
	flex-direction: row;
}

.ban{
	padding: 4px;
	margin: 0px 2px 0px 6px;
}

button:hover{
	cursor: pointer;
}

.message img:not(.emoji){
	width: 100%;
	max-height: 40vh;
	object-fit: contain;
	object-position: left;
	cursor: auto;
}

.message video, .message audio{
	width: revert;
	max-width: 100%;
	max-height: 40vh;
	object-fit: contain;
	object-position: left;
}

#file, #import{
	display: none;
}

.emoji{
	width: 20px;
	height: 20px;
}

.emoji-btn{
	width: 32px;
	height: 32px;
	transition: all 0.2s ease;
}

.emoji-btn:hover{
	cursor: pointer;
	transform: scale(1.3);
}

#wrapper p, #wrapper a{
	margin: 0px;
}

#wrapper a{
	text-decoration: underline !important;
}