<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("./head.html") %>
		<title>Page Not Found - DeskChat</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href='/assets/css/style.css'>
		<script src='/assets/js/jquery.js'></script>
		<script src='/assets/js/global.js'></script>
	</head>
	<body>
		<%- include("./header.html") %>
		<h1>404 Page Not Found</h1>
		<p>I couldn't find the page you are looking for. Perhaps check the url?</p>
		<img src='/cdn/rickroll_gif.gif'>
	</body>
</html>