<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href='/assets/css/style.css'>
		<link rel="stylesheet" href='/assets/css/loginregister.css'>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src='/assets/js/global.js'></script>
		<script src='/assets/js/formupload.js' async></script>
		<script src='/assets/js/login.js' async defer></script>
		<script src="https://accounts.google.com/gsi/client" async defer></script>
	</head>
	<body>
		<div id="g_id_onload"
         data-client_id="396042887321-osv8rgbgfc1f2qofkr0aeq12lavlf68m"
         data-ux_mode="redirect"
         data-login_uri="https://deskchat.akslolcoding.repl.co/login/google"
		 data-context="signin" style="display: none;"></div>
		<%- include("header.html") %>
		<form action='/login' method="POST" id="loginform" accept-charset="UTF-8">
            <h3>Email:</h3><input type="email" name="email" required><br><br>
            <h3>Password:</h3><input type="password" name="password" required><br><br><br>
            <input type="submit" value="Login"><br><br>
        </form>
	</body>
</html>