<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("./head.html") %>
		<title>Home - DeskChat</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href='/assets/css/style.css'>
		<link rel="stylesheet" href='/assets/css/home.css'>
		<script src='/assets/js/jquery.js'></script>
		<script src='/assets/js/global.js'></script>
		<script src='/assets/js/home.js' async defer></script>
	</head>
	<body>
		<%- include("./header.html") %>
			<h1 id="home-title">Home - DeskChat</h1>
			<div id="chats">
			</div>
	</body>
</html>