<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../head.html") %>
		<title>DeskChat - Easily chat and live meet straight from your desk!</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href='/assets/css/style.css'>
		<script src='/assets/js/jquery.js'></script>
		<script src='/assets/js/global.js'></script>
		<script src='/assets/js/index.js' async defer></script>
	</head>
	<body>
		<%- include("../header.html") %>
		<p>While the site is in development, development may be slow due to the development of a desktop app. You can go to <a href='/quickchat'>QuickChat</a> while the site is developed.</p>
		<p>You can get the demo for the desktop app <a href='/download'>here</a>.</p>
		<p>Created by <a href="https://akslolcoding.tk" target="_blank">AksLolCoding</a>.</p>
	</body>
</html>