<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../head.html") %>
		<title>Product - DeskChat</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href='/assets/css/style.css'>
		<link rel="stylesheet" href='/assets/css/landing.css'>
		<script src='/assets/js/jquery.js'></script>
		<script src='/assets/js/global.js'></script>
	</head>
	<body>
		<%- include("../header.html") %>
		<section class="feature" id="features">
			<div class="feature-text">
				<h1>Packed with useful features.</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
			</div>
			<div class="image"></div>
		</section>
		<section class="feature right" id="feature-a">
			<div class="feature-text">
				<h2>Work faster with Feature A.</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
			</div>
			<div class="image"></div>
		</section>
		<section class="feature" id="feature-b">
			<div class="feature-text">
				<h2>Work safely with Feature B.</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
			</div>
			<div class="image"></div>
		</section>
		<section class="feature right" id="feature-c">
			<div class="feature-text">
				<h2>Work how you want to with Feature C.</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
			</div>
			<div class="image"></div>
		</section>
	</body>
</html>