<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../head.html") %>
		<title>Join Meet - DeskChat</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href='/assets/css/style.css'>
		<link rel="stylesheet" href='/assets/css/form.css'>
		<script src='/assets/js/jquery.js'></script>
		<script src='/assets/js/global.js'></script>
		<script src='/assets/js/meet/join.js' async defer></script>
	</head>
	<body>
		<%- include("../header.html") %>
		<div id="join-wrapper">
		</div>
	</body>
</html>