<!DOCTYPE html>
<html theme="dark">
	<head>
		<%- include("../head.html") %>
		<title>Meet - DeskChat</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href='/assets/css/style.css'>
		<link rel="stylesheet" href='/assets/css/meet.css'>
		<script src='/assets/js/jquery.js'></script>
		<script src='/socket.io/meet/socket.io.js'></script>
		<script src='/assets/js/peerjs.js'></script>
		<script src='/assets/js/global.js'></script>
		<script src='/assets/js/meet/meet.js' async defer></script>
	</head>
	<body><div class="init-bar-outer"><div class="init-bar-inner" value="0%"></div></div>
		<div id="meet_wrapper">
		</div>
	</body>
</html>