<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../head.html") %>
		<title>Features - QuickChat</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href='/assets/css/style.css'>
		<link rel="stylesheet" href='/assets/css/landing.css'>
		<script src='/assets/js/jquery.js'></script>
		<script src='/assets/js/global.js'></script>
	</head>
	<body>
		<%- include("../quickchat/header.html") %>
		<p>Go back to <a href='/quickchat'>QuickChat</a>.</p>
		<section class="feature" id="features">
			<div class="feature-text">
				<h1>The perfect chat app.</h1>
				<p>QuickChat is built to make chatting quick, easy, powerful, and secure. It's the perfect option for chatting with others around the globe.</p>
			</div>
			<div class="image"></div>
		</section>
		<section class="feature right" id="quick">
			<div class="feature-text">
				<h2>Built to be quick.</h2>
				<p>QuickChat doesn't need any signups: all you need is a room code and a username! With a seamless experience, you'll be chatting in mere seconds.</p>
			</div>
			<div class="image"></div>
		</section>
		<section class="feature" id="easy">
			<div class="feature-text">
				<h2>Built to be easy.</h2>
				<p>With a simple interface and easy-to-use controls, chatting tools are easy-to-use, allowing you to chat how you want to.</p>
			</div>
			<div class="image"></div>
		</section>
		<section class="feature right" id="powerful">
			<div class="feature-text">
				<h2>Built to be powerful.</h2>
				<p>QuickChat is packed with features: from instant connections to sharing video, audio, text, and image files. Powerful tools available right in your browser make QuickChat a powerful chatting app.</p>
			</div>
			<div class="image"></div>
		</section>
		<section class="feature" id="secure">
			<div class="feature-text">
				<h2>Built to be secure.</h2>
				<p>Security is our first priority. Encrypted room codes and messages, secure chatting, and safe connections allow you to say whatever you want without being watched.</p>
			</div>
			<div class="image"></div>
		</section>
	</body>
</html>